.pageContent {
    width: 700px;
    margin: 100px auto;
    background: darkseagreen;
    text-align: left;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    color: #197119;
    padding: 25px;
    font-size: 1.5em;
    height: 700px;
    box-shadow: 0px 0px 6px #1e9a21;
    position: relative;
}

.header {
    height: 50px;
    display: flex;
    align-content: space-between;
}

.headerLeftButtons {
    display: flex;
}

.headerText {
    width: 100%;
    text-align: right;
    font-size: 1.5em;
    font-weight: bold;
}

.itemsContainer {
    height: 550px;
    text-align: center;
    overflow: auto;
    box-shadow: 0px 0px 6px #1e9a21 inset;
    border-radius: 6px;
}

.emptyMessage {
    margin-top: 10px;
}

.item {
    font-size: 2em;
    padding: 10px 20px;
    border-radius: 3px;
    width: 70%;
    margin: 10px auto;
    cursor: pointer;
    box-shadow: 0px 0px 3px #1e9a21 inset;
    text-align: left;
    display: flex;
    /* justify-content: center; */
    align-items: center; 
}

.item:hover {
    box-shadow: 0px 0px 6px #1e9a21 inset;
}

.itemText {
    width: 90%;
    overflow: auto;
}

.footer {
    width: fit-content;
    margin: auto;
}

.addButton {
    width: fit-content;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    background: #1a711b;
    color: #8ebd8f;
}

.addButton:hover {

}

.backButton {
    margin: 0 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-size: 100%;
    background-image: url('../../images/back.png');
}

.rootButton {
    cursor: pointer;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    background-size: 100%;
    background-image: url('../../images/root.png');
}

.addItemSection {
    font-size: 2em;
    /* font-weight: bold; */
    padding: 10px 20px;
    border-radius: 3px;
    width: 70%;
    margin: 10px auto;
    cursor: pointer;
    box-shadow: 0px 0px 3px #1e9a21 inset;
    text-align: left;
    display: flex;
    /* justify-content: center; */
    align-items: center; 
}

.addItemTextField {
    width: 80%;
    height: 100%;
    font-size: inherit;
    background: inherit;
    text-decoration: none;
    border: none;
    color: inherit;
    font-weight: inherit;
    outline: none;
    caret-color: #219a20;
}

.addItemSaveButton {
    cursor: pointer;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    background-size: 100%;
    background-image: url('../../images/save.png');
}

.addItemCancelButton {
    cursor: pointer;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    background-size: 100%;
    background-image: url('../../images/cancel.png');
}

.deleteButton {
    cursor: pointer;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    background-size: 100%;
    background-image: url('../../images/delete.png');
}

/* .addItemSaveButton, .addItemCancelButton, .deleteButton {
    width: fit-content;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid;
    cursor: pointer;
    font-size: 0.5em;
    height: fit-content;
    margin: 5px;
    font-weight: normal;
    font-size: 0.5em;
}

.addItemSaveButton:hover, .addItemCancelButton:hover, .deleteButton:hover {
    background: #77a778;
} */

::selection {
    /* color: red; */
    background: #1e9a21;
  }

@keyframes move {
    from {left: 0px;}
    to {left: 80%;}
}

.loading {
    width: 20%;
    height: 5px;
    height: 5px;
    background: green;
    animation: move 1.2s infinite linear;
    position: relative;
}